<%= tag.div(**html_attributes) do %>
  <table>
    <thead>
    <tr>
      <th class="label"></th>
      <th class="key">Key</th>
      <th class="values">Values</th>
    </tr>
    </thead>
    <tbody>
    <% attributes.each do |key, attribute| %>
      <tr>
        <th class="label"><%= collection.model.human_attribute_name(key) %></th>
        <td class="key"><%= key %></td>
        <td class="values"><%= values_for(key, attribute) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if footer? %>
    <div class="footer">
      <%= footer %>
    </div>
  <% end %>
<% end %>
