<%= form_with(method: :patch,
              id:,
              class:  "tables--selection--form",
              data:   { controller:      form_controller,
                        turbo_action:    "replace",
                        turbo_permanent: "" },
              html:   { action: false, hidden: "" }) do |form| %>
  <p class="tables--selection--summary">
    <span data-<%= form_target("count") %>>0</span>
    <span data-<%= form_target("singular") %> hidden><%= @collection.model_name.singular %></span>
    <span data-<%= form_target("plural") %>><%= @collection.model_name.plural %></span>
    selected
  </p>
  <%= content %>
<% end %>
