<h1>People</h1>
<%= link_to "Home", root_path %>
<%= link_to "Archived", archived_people_path %>

<%# Note: deliberately testing without Query to ensure backwards compatibility %>
<%= form_with(model: collection, method: :get, data: {
                turbo_action: "replace",
              }) do |form| %>
  <%= form.label :search %>
  <div class="search-bar">
    <%= form.text_field :search, type: :search %>
    <%= form.hidden_field :sort unless collection.default_sort? %>
    <%= form.submit "Filter", name: nil %>
  </div>
<% end %>

<%= table_selection_with(collection:) do %>
  <%= tag.button "Archive", formaction: archive_people_path, formmethod: :put %>
<% end %>

<%= table_with(collection:) do |row, person| %>
  <% row.select %>
  <% row.text :name do |cell| %>
    <%= link_to cell, person %>
  <% end %>
  <% row.boolean :active %>
  <% row.date :created_at, relative: person&.active %>
  <% row.datetime :created_at %>
  <% row.number :id %>
  <% row.currency :id, label: "Currency" %>
<% end %>

<%= table_pagination_with(collection:) %>
