<h1>People</h1>
<%= link_to "Home", root_path %>

<%= form_with model: @people, method: :get, data: {
      controller:    "search",
      action:        "input->search#update",
      search_target: "form",
      turbo_action:  "replace",
    } do |form| %>
  <%= form.label :search %>
  <%= form.text_field :search, type: :search, data: { search_target: "input" } %>
  <%= form.hidden_field :sort unless @people.default_sort? %>
  <%= form.submit "Filter", hidden: "" %>
<% end %>

<%= table_with(collection: @people) do |row, person| %>
  <% row.text :name do |cell| %>
    <%= link_to cell, person %>
  <% end %>
  <% row.boolean :active %>
  <% row.date :created_at, relative: person&.active %>
  <% row.datetime :created_at %>
  <% row.number :id %>
  <% row.currency :id, label: "Currency" %>
<% end %>

<%== pagy_nav(@people.pagination) %>
