<%= tag.div(**html_attributes) do %>
  <%= form.label name, "Search", hidden: "" %>
  <%= form.text_area(
        name,
        role:         "combobox",
        aria:         {
          controls: "suggestion-dialog",
          expanded: false,
          haspopup: "dialog",
        },
        placeholder:,
        autocomplete: "off",
        rows:         1,
        **input_attributes,
      ) %>
  <div aria-hidden="true" class="highlight" data-tables--query-input-target="highlight"><%= form.object.query %></div>
  <%= form.hidden_field(:p) %>
  <%= form.button("Apply", type: :submit, name: nil, tabindex: -1, class: "button") %>
<% end %>
