<%= tag.div **html_attributes do %>
  <%= form.label name, "Search", hidden: "" %>
  <%= form.text_field(
        name,
        type:         :search,
        placeholder:,
        autocomplete: "off",
        **input_attributes,
      ) %>
  <div aria-hidden="true" class="highlight" data-tables--query-input-target="highlight"></div>
  <%= form.hidden_field(:p) %>
  <%= form.button("Apply", type: :submit, name: nil, tabindex: -1) %>
  <%= content %>
<% end %>
