<%= tag.div(**html_attributes) do %>
  <% if show_values? %>
    <h4>Possible values for <code><%= current_key %>:</code></h4>
    <ul>
      <% values_for(current_key).each do |value| %>
        <li><code><%= /\A\w*\z/.match?(value) ? value : %Q("#{value}") %></code></li>
      <% end %>
    </ul>
  <% else %>
    <% if current_key.present? %>
      <p>Unknown filter <code><%= current_key %></code></p>
    <% end %>
    <p><strong>Available filters:</strong></p>
    <dl>
      <% attributes.each do |key, attribute| %>
        <dt><code><%= key %>:</code></dt>
        <dd>Filter on values for <%= collection.model.human_attribute_name(key).downcase %></dd>
      <% end %>
    </dl>
  <% end %>
<% end %>
<% if footer? %>
  <div class="footer">
    <%= footer %>
  </div>
<% end %>
