<%= tag.section(**html_attributes) do %>
  <% if collection.errors.any? %>
    <header>
      <% collection.errors.each do |error| %>
        <div class="error <%= error.type %>"><%= error.message %></div>
      <% end %>
    </header>
  <% end %>
  <div class="content">
    <% if suggestions? %>
      <h4><%= t(".suggestions_title") %></h4>
      <ul id="suggestions">
        <% suggestions.each do |suggestion| %>
          <%= render suggestion %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <footer>
    <% if footer? %>
      <%= footer %>
    <% else %>
      <a href="https://katalyst.github.io/tables/users/queries" target="_blank">Search syntax</a>
    <% end %>
  </footer>
<% end %>
