<%= tag.section(**html_attributes) do %>
  <% if collection.errors.any? %>
    <header>
      <% collection.errors.each do |error| %>
        <% next unless error.type == :unknown %>
        <div class="error"><%= t("katalyst.tables.query.unknown_key_html", key: error.attribute) %></div>
      <% end %>
    </header>
  <% end %>
  <div class="content">
    <% if show_examples? %>
      <h4><%= t("katalyst.tables.query.describe_examples_html", key: current_key) %></h4>
      <dl>
        <% examples_for(current_key).each do |example| %>
          <dt><code><%= format_value(example.value) %></code></dt>
          <% if example.description.present? %><dd><%= example.description %></dd><% end %>
        <% end %>
      </dl>
    <% else %>
      <h4>Available filters:</h4>
      <dl>
        <% available_filters.each do |key, description| %>
          <dt><code><%= key %>:</code></dt>
          <dd>Filter on values for <%= description.downcase %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
  <% if footer? %>
    <footer>
      <%= footer %>
    </footer>
  <% end %>
<% end %>
