<%= tag.section(**html_attributes) do %>
  <% if collection.errors.any? %>
    <header>
      <% collection.errors.each do |error| %>
        <div class="error <%= error.type %>"><%= error.message %></div>
      <% end %>
    </header>
  <% end %>
  <div class="content">
    <% if suggestions? %>
      <h4><%= t(".suggestions_title") %></h4>
      <ul>
        <% suggestions.each do |suggestion| %>
          <%= render suggestion %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% if footer? %>
    <footer>
      <%= footer %>
    </footer>
  <% end %>
<% end %>
