<%# locals: { collection: } %>

<h1>Resources</h1>
<%= link_to "Home", root_path %>

<%= table_query_with(collection:) %>

<%= table_selection_with(collection:) do %>
  <%= tag.button "Download", formaction: resources_path(format: :csv), formmethod: :get %>
  <%= tag.button "Activate", formaction: activate_resources_path, formmethod: :put %>
<% end %>

<%# generating ids for rows is not required for selection, but it makes testing easier %>
<%= table_with(collection:, generate_ids: true) %>

<%= table_pagination_with(collection:) %>
